@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
	box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    height: 100%;
    width: 100%;
}

.cortina {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
}

.cortina.oculto {
    display: none;
}

.barraLateral {
    width: 259px; 
    height: 100%;
    position: fixed;
    right: -259px;
    z-index: 3;
    background-color: #ffffff;
    opacity: 0;
    transition: all 300ms linear;
}

.barraLateral.show-up {
    opacity: 1;
    right: 0;
}

.mensagemLateral {
    padding: 0 45px;
    width: 100%;
    height: 84px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;    
    color: #000000;

}

.listaUsuarios {
    height: 350px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.listaUsuarios li, .visibilidade li {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.listaUsuarios li:hover, .visibilidade li:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

.listaUsuarios ion-icon, .visibilidade ion-icon {
    width: 25px;
    height: 25px;
}
.usuario > div:nth-child(1), .publico > div:nth-child(1), .reservado > div:nth-child(1), .usuarioTodos > div:nth-child(1)  {
    height: 36px;
    display: flex;
    align-items: center;
}

.usuario > div:nth-child(2), .publico > div:nth-child(2), .reservado > div:nth-child(2), .usuarioTodos > div:nth-child(2)  {
    width: 150px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.check {
    height: 15px;
    display: flex;
    align-items: center;
    opacity: 0;
}

div.check.selecionado {
    opacity: 1;
}

.check {
    width: 15px;
    height: 15px;
    color: green;
}

ul.visibilidade {
    overflow-y: hidden;
}

li.desabilitado {
    background-color: rgb(128, 128, 128, 0.2);
    color: rgb(128, 128, 128, 0.2);
}



.topo {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.topo img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.topo ion-icon {
    width: 45px;
    height: 45px;
    margin-right: 22px;
}

.container {
    width: 100%;
    position: fixed;
    top: 85px;
    bottom: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    align-items: center;
    overflow-y: scroll;
}


li {
    width: 100%;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 2px 0;
    overflow-wrap: break-word;
}

li > span {
    width: 100%;
}

.status {
    background-color: #dcdcdc;
}

.average {
    background-color: #ffffff;
}

.private {
    background-color: #FFDEDE;
}

.name {
    font-weight: 700;
}



.hour {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #aaaaaa;
    margin-right: 5px;

}

.barraInferior {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

textarea {
    height: 50px;
    width: 100%;
    border: none;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    resize: vertical;
}

.descricaoMensagem {
    display: flex;
    align-items: flex-start;
    height: 30px;
    padding-left: 15px ;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #505050;
    font-size: 14px;

}

::placeholder{
    font-style: italic;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.send {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
}


